################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Intelligent Video Surveillance System
/.vs/Inteligent-Surveillance-System/FileContentIndex
/.vs
/Intelligent Video Surveillance System/Client/obj/Debug/net7.0/Intelligent Video Surveillance System.Client.csproj.AssemblyReference.cache
/Intelligent Video Surveillance System/Client/obj/Debug/net7.0/project.razor.vs.json
/Intelligent Video Surveillance System/Server/obj/Debug/net7.0/Intelligent Video Surveillance System.Server.csproj.AssemblyReference.cache
/Intelligent Video Surveillance System/.vs/Intelligent Video Surveillance System/DesignTimeBuild/.dtbcache.v2
