@page "/manage_users"
@*<PageTitle>Index</PageTitle>

    <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@
@inject NavigationManager NavigationManager
@* <button class="start-trial my-3 col-1" @onclick="Home">Back</button> *@
<div class="container pt-3">
     <div class="row">
          <div class="col-3">
               <button disabled class="start-trial my-3 col-12" @onclick="Home">select all users</button>
          </div>
          <div class="col-6">
            <div class="title-npt-sm">User Panel</div>
          </div>
          <div class="col-3">
                    
            <div class="input-group col-12">
              <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light col-12">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
     </div>
     <div class="row container">
                              
          <table class="table">
          <thead>
               <tr>
               <th></th>
               <th>Firstname</th>
               <th>Lastname</th>
               <th>Email</th>
               <th>Id</th>
               <th>Role</th>
               </tr>
          </thead>
          <tbody>
               @for(int i = 0; i < 10; i++)
               {
                    <tr>
                         <td><input type="checkbox" /></td>
                         <td data-label="first-name">John</td>
                         <td data-label="last-name">Doe</td>
                         <td data-label="email">johndoe@gmail.com</td> 
                         <td data-label="last-name">12345/54/3</td>
                         <td data-label="last-name">Admin</td>
                         <td data-label="email">
                              <button class="btn btn-primary">Edit</button>
                              <button class="btn btn-danger">Delete</button>
                         </td>
                         <td>...</td>
                    </tr>
               }
          </tbody>
          </table>
          <button class="start-trial m-2" @onclick="NewUser">Add new user</button>
     </div>
</div>


@code {
    void Home()
    {
        NavigationManager.NavigateTo("/");
    }
     void NewUser()
     {
          NavigationManager.NavigateTo("/new_user");
     }
}

